version: 2
jobs:
  build:
    docker:
      - image: nixos/nix
    steps:
      - checkout
      - run:
          name: Build
          command: nix-build release.nix -A nixfromnpm --max-jobs 2
      - run:
          name: Run help command
          command: result/bin/nixfromnpm --help >/dev/null

      - run:
          name: Build package with no dependencies, confirm rebuilding has no effect
          command: |
            PATH=$(readlink result)/bin:$PATH
            cd $(mktemp -d)
            nixfromnpm -o output -p lodash
            nix-build output -A nodePackages.lodash --max-jobs 2
            nixfromnpm -o output -p lodash
            if [[ $(ls output/nodePackages/lodash | wc -l) -ne 1 ]]; then
              echo "A new version of lodash shouldn't have been created" >&2
              exit 1
            fi

      - run:
          name: Build package with dependencies
          command: |
            PATH=$(readlink result)/bin:$PATH
            cd $(mktemp -d)
            nixfromnpm -o output -p optimist
            nix-build output -A nodePackages.optimist --max-jobs 2

      - run:
          name: Build package with dev dependencies
          command: |
            PATH=$(readlink result)/bin:$PATH
            cd $(mktemp -d)
            nixfromnpm -o output -p coffee-script --dev-depth 1
            nix-build output -A nodePackages.coffee-script --max-jobs 2

      - run:
          name: Build package with a namespace
          command: |
            PATH=$(readlink result)/bin:$PATH
            cd $(mktemp -d)
            nixfromnpm -o output -p '@types/node'
            nix-build output -A nodePackages.namespaces.types.node --max-jobs 2
